*{

    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

#usuario{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    top: 450px;
    left:16vw;
    position: relative;
}
#contraseña{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    top: 550px;
   left: 1vw;
    position: relative;

}

.boton{
    font-size: 15px;
    width: 130px;
    height: 40px;
    background-color: rgb(106, 104, 218);
    border: solid;
    border-radius: 30px;
   border-style: solid;
   border-width: 1px;
   top: 630px;
   right: 200px;
   position: relative;
   }
 .olvido{
    border: none;
    border-style: none;
    font-size: 15px;
    color: rgb(46, 13, 194);
    top: 680px;
   right: 340px;
   position: relative;
 }
 .escudo{
    width: 280px;
    position: absolute;
    top: 120px;
    left: 310px;
 }
 .imagenfondo{
    position:absolute;  
    top: 0;           
    right: 0;          
    width: 50vw;     
    height: 100vh;   
  

 }